   body{
    font-family: 'Source Sans Pro', sans-serif;
    font-size: large;
    background:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAcAAAAHCAYAAADEUlfTAAAAHElEQVQIW2P8f3bTfwYcgBEkyWjsx4hNftBJAgD7yBuFLuhQdgAAAABJRU5ErkJggg==);
  }
#sitebody{
 width:1360px;
 font-size:16px;
}
#header{
 height:450px;
 padding: 40px;
 text-align:left;
 line-height:30px;
 color:#6d6875;
}
#header>h1{
    font-size:300%;
    font-weight:bold;
    font-family: 'Finger Paint', cursive;
}
#header>label{
    font-size:120%;
    font-weight:bold;
}
#sidebar_left{
 width:280px;
 height:1000px;
 text-align:center;
 line-height:40px;
 float:left;
 font-size:16px;
}
#sidebar_right{
 width:80px;
 height:1000px;
 text-align:center;
 line-height:40px;
 float:right;
}
#content{
 margin-left:280px;
 margin-right:80px;
 height:1000px;
 text-align:center;
 line-height:40px;
 background-color:rgba(255,255,255,0.5);
}
#footer{
 clear:both;
 height:30px;
 text-align:center;
 line-height:30px;
 color:#6d6875;
 font-size:80%;
}

  #zoom{
    border: 1px solid #000000;
  }
  .btns{
      width: 1300px;
  }
  .btns > .button{
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 18px;
    font-weight:bold;
    width: 150px;
    height: 48px;
    padding-left, padding-right: 30px;
    margin-right:2px;
    background-color: #ef989b;
    border: 0px solid #ffffff;
    color: #6d6875;
    margin-top: 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
  }
  .btns > .button:hover {
    background-color: #b5838d;
    color: white;
    font-weight: bold;
  }
 .hint2{
      width: 1300px;
      box-shadow: 1px 1px 15px #ffffff, 1px 1px 5px #ffffff, 1px 1px 10px #ffffff, 1px 1px 15px #ffffff inset;
  }
  .hint2 > .button{
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 18px;
    font-weight:bold;
    width: 150px;
    height: 48px;
    padding-left, padding-right: 30px;
    margin-right:2px;
    background-color: #ef989b;
    border: 0px solid #ffffff;
    color: #6d6875;
    margin-top: 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    -webkit-transition-duration: 0.4s; /* Safari */
    box-shadow: 1px 1px 25px #ffffff, 1px 1px 5px #ffffff, 1px 1px 10px #ffffff, 1px 1px 15px #ffffff inset;
    transition-duration: 0.4s;
    cursor: pointer;
  }
  .hint2 > .button:hover {
    background-color: #b5838d;
    color: white;
    font-weight: bold;
  }

  .hint{
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 18px;
    background-color: #6d6875; /* Green */
    border: 0px solid #2b2d42;
    color: #ffffff;
    margin-top: 7px;
    margin-bottom: 7px;
    padding: 10px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
    box-shadow: 1px 1px 25px #ffffff, 1px 1px 5px #ffffff, 1px 1px 10px #ffffff, 1px 1px 15px #ffffff inset;
  }
  .button3{
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 18px;
    background-color: #6d6875; /* Green */
    border: 0px solid #2b2d42;
    color: #ffffff;
    margin-top: 7px;
    margin-bottom: 7px;
    padding: 10px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
  }
